.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}

.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}
.pink{
    background-color: hotpink;
}
.brown{
    background-color: brown;
}